/* .login-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sign-in-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #2CA6A4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password {
  color: #FF7F50;
  cursor: pointer;
  margin-bottom: 1rem;
}

.social-login button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.google-login {
  background-color: #DB4437;
  color: white;
}

.facebook-login {
  background-color: #3b5998;
  color: white;
} */
